<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fate_explorer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gudago"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gudago"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ArticleActivity"
            android:parentActivityName=".ExploreActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExploreActivity"/>
        </activity>
        <activity android:name=".ExploreActivity"
            android:parentActivityName=".ServentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServentActivity" />
        </activity>
        <activity android:name=".Webpage" />
        <activity
            android:name=".ServentActivity"
            android:parentActivityName=".SearchResult">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchResult" />
        </activity>
        <activity android:name=".SearchResult"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>